<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>

    <!-- the below one changes color depending on weekdays and weekends-->
      <!--  <%if(kindofday == "saturday" || kindofday == "sunday"){%>
          <h1 style="color:red"><%= kindofday%>To Do List</h>
      <% } else{%>
       <h1 style="color:blue"><%= kindofday%>To Do List</h>
       <%}%> -->
     <!--<h1>Its a<%= kindofday%>!</h1> -->

  </body>
</html>
